<launch>
    <group ns="tj2" >
        <node name="tj2_yolo" pkg="tj2_yolo" type="tj2_yolo" output="screen" required="false">
            <param name="model_path" value="$(find tj2_yolo)/models/powercell_2022-01-30.torchscript"/>
            <param name="classes_path" value="$(find tj2_yolo)/models/powercell_2021.names"/>
            <remap from="detections" to="powercell/detections"/>
            <remap from="markers" to="powercell/markers"/>
            <rosparam param="yolo_z_depth_estimations" file="$(find tj2_yolo)/config/powercell_depth_estimations.yaml" command="load"/>
            <!-- <remap from="overlay" to="powercell/overlay"/> -->

            <param name="confidence_threshold" value="0.2"/>
            <param name="nms_iou_threshold" value="0.2"/>

            <param name="publish_overlay" value="true"/>
            <param name="report_loop_times" value="false"/>
            <param name="marker_persistance" value="0.25"/>
            <param name="circle_mask_border_offset_px" value="0"/>
            <param name="circle_mask_border_divisor" value="2"/>

            <remap from="color/image_raw" to="/camera/color/image_raw"/>
            <remap from="depth/image_raw" to="/camera/aligned_depth_to_color/image_raw"/>
            <remap from="color/camera_info" to="/camera/color/camera_info"/>            
        </node>
    </group>
</launch>
