<launch>
    <group ns="tj2" >
        <node name="tj2_yolo" pkg="tj2_yolo" type="tj2_yolo_node.py" output="screen" required="false">
            <param name="model_path" value="$(find tj2_yolo)/models/cargo_2022.pt"/>
            <remap from="image_raw" to="/camera/color/image_raw"/>
        </node>
    </group>
</launch>
