<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_cloud" output="screen" 
       args="record -o /media/storage/bags/diffyjr_cloud
        /laser/scan
        /tf
        /tf_static
        /tj2/joint/base_link_to_wheel_0_joint
        /tj2/joint/base_link_to_wheel_1_joint
        /tj2/joint/base_link_to_wheel_2_joint
        /tj2/joint/base_link_to_wheel_3_joint
        /tj2/cmd_vel
        /tj2/cmd_vel_nav
        /tj2/cmd_vel_teleop
        /tj2/imu
        /tj2/odom
        /tj2/ping
        /tj2_zed/rgb_raw/camera_info
        /tj2_zed/rgb_raw/image_raw_color
        /tj2_zed/point_cloud/cloud_registered
        /tj2_zed/obj_det/detections
        /tj2_zed/obj_det/yolo_objects

        --duration=15 --lz4
        " />
</launch>
