<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_cloud" output="screen" 
       args="record -o /media/storage/bags/diffyjr_cloud
        /apriltag/map
        /apriltag/map_metadata
        /apriltag/rotated_debug
        /apriltag/rotated_detections
        /apriltag/tag_detections
        /apriltag/tag_markers
        /laser/scan
        /tf
        /tf_static
        /tj2/cmd_vel
        /tj2/cmd_vel_nav
        /tj2/cmd_vel_teleop
        /tj2/imu
        /tj2/odom
        /tj2/ping
        /tj2_zed/rgb/camera_info
        /tj2_zed/rgb/image_rect_color
        /tj2_zed/point_cloud/cloud_registered
        /tj2_zed/depth/camera_info
        /tj2_zed/depth/depth_registered
        /tj2_zed/obj_det/detections
        /tj2_zed/obj_det/yolo_objects

        --duration=15 --lz4
        " />
</launch>
