[submodule "docs/tj2_ros.wiki"]
	path = docs/tj2_ros.wiki
	url = git@github.com:frc-88/tj2_ros.wiki.git
[submodule "src/ros_networktables_bridge_host"]
	path = src/ros_networktables_bridge_host
	url = git@github.com:frc-88/ros_networktables_bridge_host.git
