<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="dodobot" >
        <node name="tj2_gameobjects" pkg="tj2_gameobjects" type="tj2_gameobjects_node.py" output="log">
            <rosparam param="class_labels" file="$(find db_detectnet)/config/labels.yaml" command="load"/>
            <rosparam file="$(find tj2_gameobjects)/config/object_filter.yaml" command="load"/>
        </node>
    </group>
</launch>
