<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_tilt_to_base_link"
        args="0.0 0.0 0.0  0 0 0 1 base_link base_tilt_link" />

    <!-- Center rear camera -->
    <!-- rpy: 180 -32 180 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="pivot_to_camera_0"
        args="-0.3747  0.0000  0.3732 0.0 0.961262 0.0 -0.275637 base_tilt_link camera_0" />
    <!-- Left rear camera -->
    <!-- rpy: 180 -32 120 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="pivot_to_camera_1"
        args="-0.2887  0.3159  0.6135 0.480631 0.832477 0.137819 -0.238709 base_tilt_link camera_1" />
    <!-- Right rear camera -->
    <!-- rpy: 180 -32 240 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="pivot_to_camera_2"
        args="-0.2889 -0.3158  0.6135    -0.480631   0.832477  -0.137819  -0.238709  base_tilt_link camera_2" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical_0"
        args=" 0.0000  0.0000  0.0000   -0.5000   0.5000  -0.5000   0.5000 camera_0 optical_camera_0" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical_1"
        args=" 0.0000  0.0000  0.0000   -0.5000   0.5000  -0.5000   0.5000 camera_1 optical_camera_1" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical_2"
        args=" 0.0000  0.0000  0.0000   -0.5000   0.5000  -0.5000   0.5000 camera_2 optical_camera_2" />
</launch>