<launch>
    <!-- R: -87.0, P: 8.0, Y: 90.0 -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="-0.154 0.200 0.481  -0.5213338  -0.44977522  0.54562098  0.47771442 base_link camera_link 33" />
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0 0 0  0 0 0 1 base_link laser 33" />
    
</launch>
