<launch>
    <node pkg="tf" type="static_transform_publisher" name="base_to_footprint" args="0.0 0.0 -0.254 0 0 0 1 base_link base_footprint 33" />
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera" args="-0.154 0.200 0.481  0.35355339 0.45451948 0.54167522 0.61237244 base_footprint camera_link 33" />
</launch>
