<launch>
    <arg name="model" default="$(find tj2_description)/urdf/2022-robot.urdf.xml"/>
    
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <rosparam param="source_list" subst_value="True">
    [
        "/tj2/joint_states",
    ]
    </rosparam>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group ns="tj2" >
        <node name="tj2_description" pkg="tj2_description" type="tj2_description_node" output="screen">
            <rosparam param="joint_names" file="$(find tj2_description)/config/2022_robot_joints.yaml" command="load"/>
        </node>
    </group>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_left_laser" args="-0.290143 0.294453 0.227728   -1 0 0 0 base_link left_laser_link 20" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_right_laser" args="-0.290143 -0.294453 0.227728   -1 0 0 0 base_link right_laser_link 20" />
    <node pkg="tf" type="static_transform_publisher" name="turret_to_limelight" args="0.227 0.0 0.233   0.3625  -0.0000  0.9320  0.0000 turret_link limelight_link 20" />
    <node pkg="tf" type="static_transform_publisher" name="tilt_to_camera" args="0.010 0 0   0 0 0 1 camera_tilt_link camera_link 20" />
</launch>
