<launch>
    <arg name="model" default="$(find tj2_description)/urdf/diffyjr.urdf.xml"/>
    <arg name="joint_names" default="$(find tj2_description)/config/diffyjr_joints.yaml"/>
    <arg name="gui" default="false" />
    <arg name="tilt_correction" default="true" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <rosparam param="source_list" subst_value="True">
    [
        "/tj2/joint_states",
    ]
    </rosparam>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group ns="tj2" >
        <node name="tj2_description" pkg="tj2_description" type="tj2_description_node" output="screen">
            <rosparam param="joint_names" file="$(arg joint_names)" command="load"/>
        </node>
    </group>
</launch>
