<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="tj2">
        <node name="tj2_charged_up" pkg="tj2_charged_up" type="depth_image_test_node.py" output="screen" required="false">
            <param name="max_detection_distance" value="5.0"/>
            <remap from="camera_info" to="/tj2_zed/rgb/camera_info" />
            <remap from="color" to="/tj2_zed/rgb/image_rect_color" />
            <remap from="depth" to="/tj2_zed/depth/depth_registered" />
            <remap from="objects" to="/tj2_zed/obj_det/yolo_objects" />
        </node>
    </group>
</launch>
