<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="tj2">
        <node name="tj2_charged_up" pkg="tj2_charged_up" type="o3d_pca_test_node.py" output="screen" required="false">
            <param name="max_detection_distance" value="5.0"/>
            <remap from="points" to="/tj2_zed/point_cloud/cloud_registered" />
            <remap from="detections" to="/tj2_zed/obj_det/detections" />
        </node>
    </group>
</launch>
