<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="tj2">
        <node name="tj2_networktables" pkg="tj2_networktables" type="tj2_networktables" output="screen" required="false">
            <param name="nt_server" value=""/>
            <param name="nt_port" value="5800"/>
            <rosparam file="$(find tj2_networktables)/config/default_topics.yaml" command="load"/>
        </node>
    </group>
</launch>
