<launch>
    <arg name="model" default="$(find tj2_description)/urdf/diffyjr.urdf.xml"/>
    <arg name="gui" default="false" />
    <arg name="tilt_correction" default="true" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>
    <rosparam param="source_list" subst_value="True">
    [
        "/tj2/joint_states",
    ]
    </rosparam>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group ns="tj2" >
        <node name="tj2_description" pkg="tj2_description" type="tj2_description_node" output="screen">
            <rosparam param="joint_names" file="$(find tj2_description)/config/diffyjr_joints.yaml" command="load"/>
        </node>
    </group>

    <include if="$(arg tilt_correction)" file="$(find tj2_description)/launch/imu_joint.launch"/>

    <node unless="$(arg tilt_correction)" pkg="tf" type="static_transform_publisher" name="base_link_to_footprint" args="0.0 0.0 0.0  0 0 0 1 base_link base_tilt_link 20" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_tilt" args="0.2032 0.0 0.254  0 0 0 1 base_tilt_link camera_tilt_link 20" />
    <node unless="$(arg tilt_correction)" pkg="tf" type="static_transform_publisher" name="camera_tilt_to_armature" args="0.0 0.0 0.0  0 0 0 1 camera_tilt_link camera_armature_link 20" />
    <node pkg="tf" type="static_transform_publisher" name="camera_armature_to_link" args="0.0 0.0 0.0  0 0 0 1 camera_armature_link camera_link 20" />
    <node pkg="tf" type="static_transform_publisher" name="base_tilt_link_to_laser" args="-0.0553 0.116 0.253  0 0 1 0 base_tilt_link laser 20" />
    <node pkg="tf" type="static_transform_publisher" name="base_tilt_link_to_imu" args="0.0634 0.0012 0.2039  0.0000  0.0000  0.7071  0.7071 base_tilt_link imu 33" />
    <node pkg="tf" type="static_transform_publisher" name="base_tilt_link_to_limelight" args="0.2182 0.0 0.2188  0.0 0.0 0.0 1.0 base_tilt_link limelight_link 33" />
    <node pkg="tf" type="static_transform_publisher" name="base_tilt_link_to_fake_turret_tilt" args="0.0 0.0 0.0  0.0 0.0 0.0 1.0 base_tilt_link turret_tilt_link 33" />
    <node pkg="tf" type="static_transform_publisher" name="fake_turret_tilt_to_turret" args="0.0 0.0 0.0  0.0 0.0 0.0 1.0 turret_tilt_link turret_link 33" />
</launch>
