<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tj2_match_watcher" type="rosbag_controlled_recording.py" name="rosbag_controlled_recording" output="screen" required="false">
        <param name="rosbag_command" value="rosbag record -o /media/storage/bags/2022_robot -b 256 __name:=rosbag_controlled"/>
        <param name="topics_path" value="$(find tj2_match_watcher)/config/2022_robot.txt"/>
        <param name="record_from_startup" value="true"/>
        <remap from="bag_status" to="/tj2/bag_status"/>
        <remap from="bag_name" to="/tj2/bag_name"/>
    </node>
</launch>
