<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="tj2">
        <node pkg="tj2_match_watcher" type="tj2_match_watcher_node.py" name="tj2_match_watcher"
            output="screen" required="false">
            <param name="exclude_regex"
                value="\/camera_.*\/.*.*image.*|\/camera_.*\/point_cloud.*|\/camera_.*\/depth.*|\/tag_detections_image.*|\/rosout.*" />
        </node>
    </group>
</launch>