<launch>
    <arg name="apriltag_settings" default="$(find tj2_bringup)/config/diffyjr/tags/settings.yaml"/>
    <arg name="apriltag_tags" default="$(find tj2_bringup)/config/diffyjr/tags/charged_up_2023_tags.yaml"/>

    <group ns="northstar">
        <include file="$(find tj2_northstar)/launch/apriltag_single_cam.launch">
            <arg name="apriltag_settings" value="$(arg apriltag_settings)"/>
            <arg name="apriltag_tags" value="$(arg apriltag_tags)"/>
            <arg name="node_name" value="apriltag_camera_0"/>
            <arg name="camera_info_topic" value="camera_0/camera_info"/>
            <arg name="image_rect_topic" value="camera_0/image_raw"/>
        </include>
        <include file="$(find tj2_northstar)/launch/apriltag_single_cam.launch">
            <arg name="apriltag_settings" value="$(arg apriltag_settings)"/>
            <arg name="apriltag_tags" value="$(arg apriltag_tags)"/>
            <arg name="node_name" value="apriltag_camera_1"/>
            <arg name="camera_info_topic" value="camera_1/camera_info"/>
            <arg name="image_rect_topic" value="camera_1/image_raw"/>
        </include>
        <include file="$(find tj2_northstar)/launch/apriltag_single_cam.launch">
            <arg name="apriltag_settings" value="$(arg apriltag_settings)"/>
            <arg name="apriltag_tags" value="$(arg apriltag_tags)"/>
            <arg name="node_name" value="apriltag_camera_2"/>
            <arg name="camera_info_topic" value="camera_2/camera_info"/>
            <arg name="image_rect_topic" value="camera_2/image_raw"/>
        </include>
    </group>
</launch>
