<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="northstar">
        <node pkg="tj2_northstar" type="tj2_northstar_filter.py" name="tj2_northstar_filter" output="screen">
            <rosparam command="load" file="$(find tj2_northstar)/config/tj2_northstar_filter.yaml" />
            <param name="parent_frame" value="field"/>
            <remap from="odom" to="/tj2/odom" />
        </node>
    </group>
</launch>
