<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="apriltag_settings" default="$(find tj2_bringup)/config/diffyjr/tags/settings.yaml"/>
    <arg name="apriltag_tags" default="$(find tj2_bringup)/config/diffyjr/tags/tags.yaml"/>
    <arg name="publish_tag_detections_image" default="false"/>
    <arg name="filter_params" default="$(find tj2_bringup)/config/diffyjr/northstar/filter/filter.yaml"/>
    <arg name="calibration_params" default="$(find tj2_bringup)/config/diffyjr/northstar/calibration"/>

    <param name="use_sim_time" value="false" />

    <group ns="northstar">
        <rosparam command="load" file="$(arg filter_params)" ns=""/>

        <node pkg="tj2_northstar" type="tj2_northstar_filter.py" name="tj2_northstar" output="screen">
            <remap from="odom" to="/tj2/odom" />
        </node>

        <node pkg="tj2_northstar" type="playback.py" name="arducam_playback" required="false" output="screen">
            <param name="info_directory" value="$(arg calibration_params)" />
            <!-- <param name="bag_name" value="arducam_2023-05-15-16-30-52" /> -->
            <!-- <param name="bag_name" value="arducam_2023-05-15-16-32-19" /> -->
            <param name="bag_name" value="arducam_2023-06-02-17-58-41" />
            <param name="replay" value="true" />
        </node>
        
        <node pkg="tj2_northstar" type="plot_generator.py" name="plot_generator" output="screen">
            <remap from="odom" to="/tj2/odom" />
        </node>

        <node pkg="tj2_northstar" type="landmark_converter.py" name="landmark_converter" required="false" output="screen"/>

        <rosparam command="load" file="$(arg apriltag_settings)" ns="apriltag_cam_array"/>
        <rosparam command="load" file="$(arg apriltag_tags)" ns="apriltag_cam_array"/>
        <node pkg="tj2_northstar" type="apriltag_cam_array" name="apriltag_cam_array" required="false" output="screen">
            <remap from="info" to="camera/camera_info"/>
            <remap from="image_raw" to="camera/image_raw"/>
        </node>

        <!-- <include file="$(find tj2_northstar)/launch/apriltag_single_cam.launch">
            <arg name="apriltag_settings" value="$(arg apriltag_settings)"/>
            <arg name="apriltag_tags" value="$(arg apriltag_tags)"/>
            <arg name="node_name" value="apriltag_camera_0"/>
            <arg name="camera_info_topic" value="camera_0/camera_info"/>
            <arg name="image_rect_topic" value="camera_0/image_raw"/>
        </include>
        <include file="$(find tj2_northstar)/launch/apriltag_single_cam.launch">
            <arg name="apriltag_settings" value="$(arg apriltag_settings)"/>
            <arg name="apriltag_tags" value="$(arg apriltag_tags)"/>
            <arg name="node_name" value="apriltag_camera_1"/>
            <arg name="camera_info_topic" value="camera_1/camera_info"/>
            <arg name="image_rect_topic" value="camera_1/image_raw"/>
        </include>
        <include file="$(find tj2_northstar)/launch/apriltag_single_cam.launch">
            <arg name="apriltag_settings" value="$(arg apriltag_settings)"/>
            <arg name="apriltag_tags" value="$(arg apriltag_tags)"/>
            <arg name="node_name" value="apriltag_camera_2"/>
            <arg name="camera_info_topic" value="camera_2/camera_info"/>
            <arg name="image_rect_topic" value="camera_2/image_raw"/>
        </include>
        <include file="$(find tj2_northstar)/launch/apriltag_single_cam.launch">
            <arg name="apriltag_settings" value="$(arg apriltag_settings)"/>
            <arg name="apriltag_tags" value="$(arg apriltag_tags)"/>
            <arg name="node_name" value="apriltag_camera_3"/>
            <arg name="camera_info_topic" value="camera_3/camera_info"/>
            <arg name="image_rect_topic" value="camera_3/image_raw"/>
        </include> -->

        <node pkg="tj2_camera" type="tag_marker_publisher.py" name="tag_marker_publisher" required="false" output="screen">
            <param name="marker_publish_rate" value="50"/>
        </node>
    </group>
    
    <include file="$(find tj2_bringup)/config/diffyjr/static_transforms_diffyjr.launch"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_footprint" args="0.0 0.0 0.0  0 0 0 1 base_link base_tilt_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tilt_to_armature" args="0.0 0.0 0.0  0 0 0 1 camera_tilt_link camera_armature_link" />

    <include file="$(find tj2_description)/launch/tj2_description.launch">
        <arg name="model" value="$(find tj2_description)/urdf/diffyjr.urdf.xml"/>
        <arg name="joint_names" value="$(find tj2_bringup)/config/diffyjr/joints.yaml"/>
    </include>

    <arg name="map_name" default="charged-up-2023"/>
    <node name="static_map_server" pkg="map_server" type="map_server" output="screen" args="$(find tj2_data)/data/maps/$(arg map_name).yaml">
        <param name="frame_id" value="map"/>
    </node>
</launch>
