<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="northstar">
        <node pkg="rosbag" type="record" name="rosbag_record_arducam" output="screen"
       args="record -o /media/storage/bags/arducam -b 4096 --lz4
            /northstar/camera/image_raw
            /northstar/camera/camera_info
            /tj2/odom
            /tj2/imu
            /tf
            " />
    </group>
</launch>
