<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="camera_0_settings"
        default="$(find tj2_bringup)/config/shared/arducam/ov2311.yaml" />

    <arg name="camera_0_info_url"
        default="package://tj2_bringup/config/shared/arducam/calibration/UC621_1600x1200.yaml" />
    <arg name="serial_0" default="UC621" />
    <arg name="name_0" default="camera_0" />

    <group ns="northstar">
        <node pkg="tj2_northstar" type="uvc_camera_node.py" name="arducams" output="screen" respawn="true">
            <rosparam command="load" file="$(arg camera_0_settings)" ns="cameras/$(arg name_0)" />
            <param name="cameras/$(arg name_0)/capture/serial_number" value="$(arg serial_0)" />
            <param name="cameras/$(arg name_0)/frame_id" value="optical_$(arg name_0)" />
            <param name="info_urls/$(arg name_0)" value="$(arg camera_0_info_url)" />

            <param name="tick_rate" value="10.0" />
        </node>

        <node name="arducam_compressed_$(arg name_0)" pkg="image_transport" type="republish"
            output="screen" required="false"
            args="
                raw
                in:=$(arg name_0)/image_raw
                compressed
                out:=$(arg name_0)/image_raw
            " />
    </group>
</launch>