<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="filter_params" default="$(find tj2_bringup)/config/diffyjr/northstar/filter.yaml" />

    <group ns="northstar">
        <rosparam command="load" file="$(arg filter_params)" ns="" />

        <node pkg="tj2_northstar" type="tj2_northstar_filter.py" name="tj2_northstar"
            output="screen">
            <remap from="odom" to="/tj2/odom" />
            <remap from="amcl_pose" to="/amcl_pose" />
            <remap from="initialpose" to="/initialpose" />
        </node>

        <node pkg="tj2_northstar" type="landmark_converter.py" name="landmark_converter"
            required="false" output="screen" />
        <node pkg="tj2_northstar" type="amcl_tag_initialization.py" name="amcl_tag_initialization"
            required="false" output="screen">
            <remap from="amcl_pose" to="/amcl_pose" />
            <remap from="odom" to="/tj2/odom" />
            <remap from="initialpose" to="/initialpose" />
            <param name="cooldown_time" value="1.0" />
        </node>
    </group>
</launch>