<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <arg name="lidar" default="false"/>
    <include if="$(arg lidar)" file="$(find tj2_rplidar)/launch/tj2_rplidar.launch"/> -->
    <node pkg="rosbag" type="record" name="rosbag_record_laser"
       args="record -o /media/storage/bags/laser            
            /tj2/odom

            /sinistra_laser/scan
            /dextra_laser/scan
            /tj2/imu

            /tj2/ping
            /tj2/cmd_vel
            " />
</launch>
