<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="move_base_flex" pkg="mbf_costmap_nav" type="mbf_costmap_nav" output="screen">
        <remap from="/cmd_vel" to="/tj2/cmd_vel"/>
        <remap from="/odom" to="/tj2/odom"/>
        <rosparam file="$(find tj2_move_base)/config/move_base_global_params.yaml" command="load"/>

        <rosparam file="$(find tj2_move_base)/config/dwaplanner_params.yaml" command="load" ns="DWAPlannerROS"/>
        <rosparam file="$(find tj2_move_base)/config/trajectory_planner_params.yaml" command="load" ns="TrajectoryPlannerROS"/>
        <rosparam file="$(find tj2_move_base)/config/teb_planner_params.yaml" command="load" ns="TebLocalPlannerROS"/>
        <rosparam file="$(find tj2_move_base)/config/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>

        <rosparam file="$(find tj2_move_base)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find tj2_move_base)/config/costmap_local_params.yaml" command="load" ns="local_costmap"/>

        <rosparam file="$(find tj2_move_base)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find tj2_move_base)/config/costmap_global_params.yaml" command="load" ns="global_costmap"/>
    </node>
    <group ns="tj2" >
        <node name="tj2_move_base_sm" pkg="tj2_move_base" type="tj2_move_base_node.py" output="screen">
        </node>
        <node name="tj2_follow_object" pkg="tj2_move_base" type="follow_object.py" output="screen">
        </node>
    </group>

</launch>
