<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_tilt"
        args="0.1983 0.0 0.229  0 0 0 1 base_tilt_link camera_tilt_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_armature_to_link"
        args="0.0 0.0 0.0  0 0 0 1 camera_armature_link camera_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_tilt_link_to_laser"
        args="-0.0553 0.116 0.253  0 0 1 0 base_tilt_link laser" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_tilt_link_to_imu"
        args="0.0634 0.0012 0.2039  0.0000  0.0000  0.7071  0.7071 base_tilt_link imu" />
    <!-- Enable these two TFs if imu_joint is disabled -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_footprint"
        args="0.0 0.0 0.0  0 0 0 1 base_link base_tilt_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tilt_to_armature"
        args="0.0 0.0 0.0  0 0 0 1 camera_tilt_link camera_armature_link" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="pivot_to_camera_0"
        args="0.1650 0.2455 0.21054  0.70711 0.70711 0 0 base_tilt_link camera_0" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="pivot_to_camera_1"
        args="-0.1450 -0.2875 0.21054  0.70711 -0.70711 0 0 base_tilt_link camera_1" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical_0"
        args="0.0 0.0 0.0  -0.5000  0.5000  -0.5000  0.5000 camera_0 optical_camera_0" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical_1"
        args="0.0 0.0 0.0  -0.5000  0.5000  -0.5000  0.5000 camera_1 optical_camera_1" />
</launch>