<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_camera"
       args="record -o /media/storage/bags/bar
            /tj2/odom
            /tj2/ping
            /tj2/robot_status
            /tj2/cmd_vel
            /tj2/ping
            /camera/aligned_depth_to_color/camera_info
            /camera/aligned_depth_to_color/image_raw
            /camera/color/camera_info
            /camera/color/image_raw
            " />
</launch>
