<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_detections" output="screen"
       args="record -o ./detections
            /tj2/odom
            /tj2/cmd_vel
            /tj2/cargo/detections
            /camera/color/image_raw
            /camera/color/camera_info
            /camera/aligned_depth_to_color/image_raw
            " />
    <include file="$(find tj2_camera)/launch/record_to_file.launch"/>
</launch>
