[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service
Description=TJ2 roslaunch

[Service]
Type=simple
User=tj2
Group=tj2
ExecStart=/usr/local/bin/roslaunch.sh

Restart=no
Restart=always
RestartSec=90
StartLimitIntervalSec=90
StartLimitBurst=3

KillSignal=SIGINT
TimeoutStopSec=3
FinalKillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
