<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="camera">
        <node pkg="tj2_camera" type="imu_merger.py" name="camera_imu_merge"/>
        
        <node pkg="imu_filter_madgwick" type="imu_filter_node" name="camera_imu_filter">
            <param name="publish_tf" value="false"/>
            <param name="world_frame" value="enu"/>
            <param name="fixed_frame" value="camera_tilt_base_link"/>
            <param name="use_mag" value="false"/>
            <param name="use_magnetic_field_msg" value="false"/>
            <remap from="imu/data_raw" to="imu"/>
            <remap from="imu/data" to="imu/filtered"/>
        </node>
    </group>
</launch>