<?xml version="1.0"?>
<launch>
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        <param name="destination_frame" value="base_link"/>
        <param name="cloud_destination_topic" value="/laser/cloud"/>
        <param name="scan_destination_topic" value="/laser/scan"/>
        <param name="laserscan_topics" value ="/left_laser/scan_filtered /right_laser/scan_filtered" /> 
    </node>
    <node pkg="tj2_rplidar" type="tj2_lidar_watcher_node.py" name="tj2_lidar_watcher" output="screen">
        <param name="expected_left_rate" value="12.0" />
        <param name="expected_right_rate" value="12.0" />
        <param name="rate_band" value="2.0" />
        <rosparam param="combiner_config" file="$(find tj2_rplidar)/config/combiner.yaml" command="load"/>
    </node>
</launch>
