<?xml version="1.0"?>
<launch>
    <group ns="left_laser">
        <include file="$(find tj2_rplidar)/launch/tj2_rplidar.launch">
            <arg name="serial_port" value="/dev/serial/by-path/platform-3610000.xhci-usb-0:2.2:1.0-port0"/>
            <arg name="lidar_node_name" value="left_rplidar"/>
            <arg name="laser_frame_id" value="left_laser_link"/>
        </include>

        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="left_laser_filter">
            <rosparam command="load" file="$(find tj2_rplidar)/config/left_laser_filter.yaml" />
        </node>
    </group>
</launch>
