<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot_address" default="10.0.88.2" />
    <arg name="enable_driver_station" value="true" />
    <arg name="laser_scan_topic" value="/laser/scan_filtered" />
    <arg name="map_name" default="$(env ROS_MAP_NAME)" />
    <arg name="robot" default="diffyjr" />

    <include file="$(find tj2_comm)/launch/tj2_comm.launch">
        <arg name="publish_odom_tf" value="true" />
        <arg name="compact_tf_ids_path"
            value="$(find tj2_bringup)/config/$(arg robot)/frame_ids.yaml" />
    </include>

    <include file="$(find tj2_comm)/launch/twist_mux.launch" />
    <group ns="tj2">
        <include file="$(find ros_networktables_bridge_host)/launch/nt_client.launch">
            <arg name="nt_host" value="$(arg robot_address)" />
        </include>
    </group>

    <include file="$(find tj2_bringup)/config/$(arg robot)/static_transforms_$(arg robot).launch" />

    <include file="$(find tj2_description)/launch/imu_joint.launch">
        <arg name="camera_imu_topic" value="/tj2_zed/imu/data" />
        <arg name="base_imu_topic" value="/tj2/imu" />
    </include>

    <include file="$(find tj2_description)/launch/tj2_description.launch">
        <arg name="model" value="$(find tj2_description)/urdf/$(arg robot).urdf.xml" />
        <arg name="joint_names" value="$(find tj2_bringup)/config/$(arg robot)/joints.yaml" />
    </include>

    <include file="$(find tj2_camera)/launch/tj2_zed2.launch">
        <arg name="pos_tracking_enabled" value="false" />
        <arg name="serial_number" value="25556416" />
    </include>

    <include file="$(find tj2_match_watcher)/launch/tj2_match_watcher.launch" />

    <group ns="laser">
        <include file="$(find tj2_rplidar)/launch/tj2_rplidar_a2.launch">
            <arg name="serial_port"
                value="/dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0" />
            <arg name="lidar_node_name" value="$(arg robot)_rplidar" />
            <arg name="laser_frame_id" value="laser" />
        </include>

        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
            <rosparam command="load"
                file="$(find tj2_bringup)/config/$(arg robot)/laser_filter.yaml" />
        </node>
    </group>

    <include if="$(arg enable_driver_station)"
        file="$(find tj2_driver_station)/launch/tj2_driver_station.launch" />
    <include if="$(arg enable_driver_station)"
        file="$(find tj2_debug_joystick)/launch/tj2_debug_joystick.launch" />

    <include file="$(find tj2_nt_backup)/launch/nt_backup.launch">
        <arg name="nt_host" value="$(arg robot_address)" />
        <arg name="robot" value="$(env ROBOT)" />
    </include>

    <include file="$(find tj2_northstar)/launch/dual_camera.launch">
        <arg name="common_camera_params"
            value="$(find tj2_bringup)/config/$(arg robot)/northstar/ov2311.yaml" />
        <arg name="camera_0_info_url"
            value="package://tj2_bringup/config/$(arg robot)/northstar/calibration/camera_0.yaml" />
        <arg name="serial_0" value="UC621" />
        <arg name="name_0" value="camera_0" />

        <arg name="camera_1_info_url"
            value="package://tj2_bringup/config/$(arg robot)/northstar/calibration/camera_1.yaml" />
        <arg name="serial_1" value="UC622" />
        <arg name="name_1" value="camera_1" />
    </include>

    <include file="$(find tj2_northstar)/launch/apriltag_dual_cam.launch">
        <arg name="apriltag_settings"
            value="$(find tj2_bringup)/config/$(arg robot)/tags/settings.yaml" />
        <arg name="apriltag_tags"
            value="$(find tj2_bringup)/config/$(arg robot)/tags/$(arg map_name)_tags.yaml" />
    </include>

    <!-- <include file="$(find tj2_northstar)/launch/cuda_apriltag_dual_cam.launch">
        <arg name="apriltag_settings"
            value="$(find tj2_bringup)/config/$(arg robot)/tags/cuda_tags.yaml" />
    </include> -->

    <include file="$(find tj2_northstar)/launch/field_calibration.launch" />
</launch>