<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- the name of this robot -->
    <arg name="robot" default="$(env ROBOT)" />

    <!-- RoboRIO networktables address -->
    <arg name="robot_address" default="10.0.88.2" />

    <!-- Laser localization map name -->
    <arg name="map_name" default="$(env ROS_MAP_NAME)" />

    <!-- Formats topics so they are usable going to and coming from the RoboRIO -->
    <include file="$(find tj2_comm)/launch/tj2_comm.launch">
        <arg name="publish_odom_tf" value="true" />
        <arg name="compact_tf_ids_path"
            value="$(find tj2_bringup)/config/$(arg robot)/frame_ids.yaml" />
    </include>

    <!-- Mux together velocity command topics (joystick vs. autonomous commands) -->
    <include file="$(find tj2_comm)/launch/twist_mux.launch" />

    <!-- Bridge NetworkTables and ROS topics to and from the RoboRIO -->
    <group ns="tj2">
        <include file="$(find ros_networktables_bridge_host)/launch/nt_client.launch">
            <arg name="nt_host" value="$(arg robot_address)" />
        </include>
    </group>

    <include file="$(find tj2_bringup)/config/$(arg robot)/static_transforms_$(arg robot).launch" />

    <!-- Joint and bounding box descriptions of the robot (URDF) -->
    <include file="$(find tj2_description)/launch/tj2_description.launch">
        <arg name="model" value="$(find tj2_description)/urdf/$(arg robot).urdf.xml" />
        <arg name="joint_names" value="$(find tj2_bringup)/config/$(arg robot)/joints.yaml" />
    </include>

    <!-- ZED 2 camera -->
    <include file="$(find tj2_camera)/launch/tj2_zed2.launch">
        <!-- <arg name="serial_number" value="25556416" /> -->
    </include>

    <!-- Bag recorder -->
    <include file="$(find tj2_match_watcher)/launch/tj2_match_watcher.launch" />

    <!-- TJ2 Northstar -->
    <include file="$(find tj2_northstar)/launch/tj2_northstar.launch">
        <arg name="filter_params"
            value="$(find tj2_bringup)/config/$(arg robot)/northstar/filter.yaml" />
    </include>

    <include file="$(find tj2_northstar)/launch/dual_camera.launch">
        <arg name="common_camera_params"
            value="$(find tj2_bringup)/config/$(arg robot)/northstar/ov2311.yaml" />
        <arg name="camera_0_info_url"
            value="package://tj2_data/data/arducam/calibration/UC621_1600x1200.yaml" />
        <arg name="serial_0" value="UC621" />
        <arg name="name_0" value="camera_0" />

        <arg name="camera_1_info_url"
            value="package://tj2_data/data/arducam/calibration/UC622_1600x1200.yaml" />
        <arg name="serial_1" value="UC622" />
        <arg name="name_1" value="camera_1" />
    </include>

    <include file="$(find tj2_northstar)/launch/apriltag_dual_cam.launch">
        <arg name="apriltag_settings"
            value="$(find tj2_bringup)/config/$(arg robot)/tags/settings.yaml" />
        <arg name="apriltag_tags"
            value="$(find tj2_bringup)/config/$(arg robot)/tags/$(arg map_name)_tags.yaml" />
    </include>

    <!-- PreferenceConstants backup -->
    <include file="$(find tj2_nt_backup)/launch/nt_backup.launch">
        <arg name="nt_host" value="$(arg robot_address)" />
        <arg name="robot" default="$(env ROBOT)" />
    </include>
</launch>