<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- the name of this robot -->
    <arg name="robot" default="$(env ROBOT)" />

    <!-- RoboRIO networktables address -->
    <arg name="robot_address" default="10.0.88.2" />

    <!-- Laser localization map name -->
    <arg name="map_name" default="$(env ROS_MAP_NAME)" />

    <!-- Formats topics so they are usable going to and coming from the RoboRIO -->
    <include file="$(find tj2_comm)/launch/tj2_comm.launch">
        <arg name="publish_odom_tf" value="true" />
        <arg name="compact_tf_ids_path"
            value="$(find tj2_bringup)/config/$(arg robot)/frame_ids.yaml" />
    </include>

    <!-- Bridge NetworkTables and ROS topics to and from the RoboRIO -->
    <group ns="tj2">
        <include file="$(find ros_networktables_bridge_host)/launch/nt_host.launch" />
    </group>

    <!-- Static transforms defining robot layout -->
    <include file="$(find tj2_bringup)/config/$(arg robot)/static_transforms_$(arg robot).launch" />

    <!-- Bag recorder -->
    <include file="$(find tj2_match_watcher)/launch/tj2_match_watcher.launch" />

    <!-- PreferenceConstants backup -->
    <include file="$(find tj2_nt_backup)/launch/nt_backup.launch">
        <arg name="nt_host" value="$(arg robot_address)" />
        <arg name="robot" default="$(arg robot)" />
    </include>

    <!-- 2D Occupancy map -->
    <node name="static_map_server" pkg="map_server" type="map_server" output="screen"
        args="$(find tj2_bringup)/config/shared/maps/$(arg map_name).yaml">
        <param name="frame_id" value="map" />
    </node>

    <!-- Delayed app start -->
    <include file="$(find tj2_power_mode)/launch/power_mode.launch">
        <arg name="default_power_mode" value="LOW_POWER" />
        <arg name="bypass" value="true" />
        <arg name="launch_path"
            value="$(find tj2_bringup)/config/practice2024/practice2024_secondary.launch" />
    </include>
</launch>