<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include if="$(eval env('ROBOT') == 'diffyjr')" file="$(find tj2_bringup)/launch/diffyjr_bringup.launch"/>
    <include if="$(eval env('ROBOT') == 'diffyjr-mapping')" file="$(find tj2_bringup)/launch/diffyjr_build_map.launch"/>
    <include if="$(eval env('ROBOT') == '2022-robot')" file="$(find tj2_bringup)/launch/2022_robot_bringup.launch"/>
    <include if="$(eval env('ROBOT') == '2022-swervy')" file="$(find tj2_bringup)/launch/2022_swervy_bringup.launch"/>
    <include if="$(eval env('ROBOT') == 'scorpion')" file="$(find tj2_bringup)/launch/scorpion.launch"/>
</launch>
