<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot_address" default="10.0.88.2"/>
    <!-- <arg name="robot_address" default="localhost"/> -->

    <group ns="tj2">
        <node name="tj2_riolog" pkg="tj2_riolog" type="tj2_riolog_node.py" output="screen" required="false">
            <param name="host" value="$(arg robot_address)"/>
            <param name="use_ssh" value="false"/>
        </node>
    </group>
</launch>
