<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot_address" default="10.0.88.2"/>
    <include file="$(find tj2_networktables)/launch/tj2_networktables.launch">
        <arg name="robot_address" value="$(arg robot_address)"/>
    </include>
    <include file="$(find tj2_tunnel)/launch/tj2_tunnel.launch">
        <arg name="publish_odom_tf" value="true"/>
        <arg name="robot_address" value="$(arg robot_address)"/>
    </include>
    <include file="$(find tj2_description)/launch/tj2_description_2022_robot.launch"/>
    <include file="$(find tj2_camera)/launch/tj2_camera.launch"/>
    <include file="$(find tj2_camera)/launch/camera_watcher.launch"/>
    <include file="$(find tj2_match_watcher)/launch/tj2_match_watcher.launch"/>
    <!-- <include file="$(find tj2_riolog)/launch/tj2_riolog.launch"/> -->
    <!-- <include file="$(find tj2_move_base)/launch/tj2_move_base.launch"/> -->
    <!-- <include file="$(find tj2_move_base)/launch/pursuit_planning.launch"/> -->
    
    <group ns="front_laser">
        <include file="$(find tj2_rplidar)/launch/tj2_rplidar.launch">
            <arg name="serial_port" value="/dev/serial/by-path/platform-3610000.xhci-usb-0:2.3:1.0-port0"/>
            <arg name="lidar_node_name" value="front_rplidar"/>
            <arg name="laser_frame_id" value="front_laser_link"/>
        </include>
        <include file="$(find tj2_rplidar)/launch/front_laser_filter.launch"/>
    </group>
    
    <group ns="rear_laser">
        <include file="$(find tj2_rplidar)/launch/tj2_rplidar.launch">
            <arg name="serial_port" value="/dev/serial/by-path/platform-3610000.xhci-usb-0:2.1:1.0-port0"/>
            <arg name="lidar_node_name" value="rear_rplidar"/>
            <arg name="laser_frame_id" value="rear_laser_link"/>
        </include>
        <include file="$(find tj2_rplidar)/launch/rear_laser_filter.launch"/>
    </group>
    <!-- <include file="$(find tj2_rplidar)/launch/laser_combiner.launch"/> -->

    <!-- <include file="$(find tj2_limelight)/launch/tj2_limelight.launch"/> -->
    <!-- <include file="$(find tj2_yolo)/launch/tj2_yolo.launch"/> -->
    <!-- <include file="$(find tj2_pursuit)/launch/tj2_pursuit.launch"/> -->

    <arg name="map_name" default="$(env ROS_MAP_NAME)"/>
    <include file="$(find tj2_laser_slam)/launch/tj2_laser_slam.launch">
        <!-- <arg name="mode" value="localize"/> -->
        <arg name="mode" value="idle"/>
        <arg name="map_name" value="$(arg map_name)"/>
    </include>
    <include file="$(find tj2_waypoints)/launch/tj2_waypoints.launch">
        <arg name="waypoints_path" value="$(find tj2_waypoints)/waypoints/$(arg map_name)"/>
    </include>
</launch>
