<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_name" default="map-{date}"/>
    <arg name="mode" default="mapping"/> <!-- "mapping" or "localize" -->
    <include file="$(find tj2_laser_slam)/launch/tj2_laser_slam.launch">
        <arg name="mode" value="$(arg mode)"/>
        <arg name="map_name" value="$(arg map_name)"/>
    </include>
    <!-- <include file="$(find tj2_rplidar)/launch/tj2_rplidar.launch"/> -->
    <include file="$(find tj2_rplidar)/launch/tj2_rplidar_a3.launch"/>
</launch>
