<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_name" default="rtabmap.db"/>
    <arg name="new_db" default="true"/>
    <arg name="use_laser" default="true"/>

    <include file="$(find tj2_camera)/launch/tj2_camera.launch"/>
    <include file="$(find tj2_rtabmap)/launch/tj2_rtabmap.launch">
        <arg name="database_path" value="$(arg map_name)"/>
        <arg name="create_new_db" value="$(arg new_db)"/>
    </include>
    <include if="$(arg use_laser)" file="$(find tj2_rplidar)/launch/tj2_rplidar.launch"/>
    
</launch>
