<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="/tj2/robot_type" value="bb-88"/>
    <!-- <arg param="/tj2/robot_type" value="diff-swerve"/> -->

    <arg name="odom_ekf" default="true"/>
    <include file="$(find tj2_networktables)/launch/tj2_networktables.launch">
        <arg name="publish_odom_tf" default="$(eval not arg('odom_ekf'))"/>
    </include>
    <include file="$(find tj2_description)/launch/tj2_description.launch"/>
    <include if="$(arg odom_ekf)" file="$(find tj2_ekf)/launch/tj2_ekf.launch"/>
    <!-- <include file="$(find tj2_camera)/launch/tj2_camera.launch"/> -->
    <!-- <include file="$(find tj2_detectnet)/launch/tj2_detectnet.launch"/> -->
</launch>
