<launch>
    <include file="$(find tj2_camera)/launch/apriltags.launch">
        <arg name="apriltag_settings" value="$(find tj2_bringup)/config/diffyjr/tags/settings.yaml"/>
        <arg name="apriltag_tags" value="$(find tj2_bringup)/config/diffyjr/tags/tags.yaml"/>
        <arg name="camera_info_topic" value="/tj2_zed/rgb/camera_info"/>
        <arg name="image_rect_topic" value="/tj2_zed/rgb/image_rect_color"/>
        <arg name="node_name" value="apriltag"/>
        <arg name="namespace" value="apriltag"/>
    </include>
</launch>
