<launch>
    <arg name="map_name" default="map" />
    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find tj2_laser_slam)/maps/$(arg map_name).yaml"/>

    <arg name="waypoints_path" default="$(find tj2_waypoints)/waypoints/$(arg map_name)"/>
    <group ns="tj2" >
        <node name="tj2_waypoints" pkg="tj2_waypoints" type="tj2_waypoints_node.py" output="screen" required="false">
            <param name="class_names_path" value="$(find tj2_yolo)/models/powercell_2021.names"/>
            <remap from="cmd_vel" to="cmd_vel_follow"/>
            <param name="waypoints_path" value="$(arg waypoints_path)"/>
            <param name="enable_waypoint_navigation" value="true"/>
            <param name="local_obstacle_layer_topic" value=""/>
            <param name="enable_waypoint_navigation" value="false"/>
        </node>
    </group>
    <include file="$(find tj2_description)/launch/tj2_description_2022_robot.launch"/>
    <node pkg="tf" type="static_transform_publisher" name="fake_base_link_to_map" args="0.0 0.0 0.0 0 0 0 1 map base_link 10" />

</launch>
