<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="use_sim_time" value="true"/>
    <arg name="bag_name" default="some.bag"/>
    <arg name="bag_dir" default="$(find tj2_match_watcher)/bags"/>
    <arg name="start_time" default="0"/>
    <node name="match_bag" pkg="rosbag" type="play" output="screen" args="$(arg bag_dir)/$(arg bag_name) --clock --loop --pause -s $(arg start_time)"/>
    <include file="$(find tj2_description)/launch/tj2_description_2022_robot.launch"/>
    
    <include file="$(find tj2_rplidar)/launch/laser_combiner.launch"/>
    <group ns="sinistra_laser">
        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="sinistra_laser_filter">
            <rosparam command="load" file="$(find tj2_rplidar)/config/sinistra_laser_filter.yaml" />
        </node>
    </group>
    <group ns="dextra_laser">
        <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="dextra_laser_filter">
            <rosparam command="load" file="$(find tj2_rplidar)/config/dextra_laser_filter.yaml" />
        </node>
    </group>

    <arg name="map_name" default="rapid-react-2022-02-19T07-55-53--407688-edited"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(find tj2_laser_slam)/maps/$(arg map_name).yaml" />
    <include file="$(find tj2_waypoints)/launch/tj2_waypoints.launch">
        <arg name="waypoints_path" value="$(find tj2_waypoints)/waypoints/$(arg map_name)"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="optical_depth_to_depth" args="0.0 0.0 0.0  -0.500 0.500 -0.500 0.500 camera_depth_frame camera_depth_optical_frame 33" />
    <node pkg="tf" type="static_transform_publisher" name="optical_color_to_color" args="0.0 0.0 0.0  -0.500 0.500 -0.500 0.500 camera_color_frame camera_color_optical_frame 33" />
    <node pkg="tf" type="static_transform_publisher" name="depth_to_camera" args="0 0 0  0 0 0 1 camera_link camera_depth_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="color_to_camera" args="0 0 0  0 0 0 1 camera_link camera_color_frame 100" />

    <include file="$(find tj2_bar_pipeline)/launch/tj2_bar_pipeline_py.launch"/>
</launch>
