<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="sensor_name" default="color_sensor"/>
    <arg name="i2c_bus_id" default="1"/>
    <arg name="marker_frame_location" default="base_link"/>
    <group ns="lower">
        <node pkg="rev_color_sensor_ros" type="color_sensor_node.py" name="$(arg sensor_name)" output="screen" respawn="true">
            <param name="i2c_bus" value="$(arg i2c_bus_id)"/>
            <param name="marker_frame_location" value="$(arg marker_frame_location)"/>
        </node>
    </group>
    <node pkg="tj2_color_sensor" type="color_sensor_passthrough.py" name="$(arg sensor_name)_nt_passthrough" output="screen" respawn="true">
        <param name="namespace" value="$(arg sensor_name)"/>
        <remap from="nt_passthrough" to="/tj2/nt_passthrough"/>
    </node>
</launch>
