<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="lower">
        <node pkg="rev_color_sensor_ros" type="color_sensor_node.py" name="lower_color_sensor" output="screen" respawn="true">
            <rosparam command="load" file="$(find tj2_color_sensor)/config/cargo_color_config.yaml" />
            <param name="i2c_bus" value="1"/>
            <param name="marker_frame_location" value="base_link"/>
        </node>
    </group>
    <node pkg="tj2_color_sensor" type="color_sensor_passthrough.py" name="lower_color_sensor_passthrough" output="screen" respawn="true">
        <param name="namespace" value="lower"/>
        <remap from="nt_passthrough" to="/tj2/nt_passthrough"/>
    </node>
</launch>
