<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Robot center to camera pivot center (translation only) -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_base_link" args="-0.04899 -0.24130 0.40174  0 0 0 1 base_tilt_link camera_base_link" />

    <!-- Camera pivot center rotation component -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_base_to_camera_link" args="0.0 0.0 0.0  0.0000 0.0000 1.0000 0.0000 camera_base_link camera_tilt_link" />

    <!-- Camera pivot center to camera sensor center (armature) -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_armature_to_link" args="0.0 0.0 0.0  0 0 0 1 camera_armature_link camera_link" />

    <!-- Robot center to laser center (translation only) -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser_base_link" args="0.03810 0.30540 0.17735  0 0 0 1 base_tilt_link laser_base_link" />

    <!-- Laser center rotation component -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="laser_base_to_laser_link" args="0.0 0.0 0.0  0.0000  0.0000  -0.7071  0.7071 laser_base_link laser" />

    <!-- Robot center to IMU -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="0.0 0.0 0.0  0.0000  0.0000  0.7071  -0.7071 base_tilt_link imu" />

    <!-- Robot center to limelight center (translation only) -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_limelight_base_link" args="0.32497 0.0 0.21506  0.0 0.0 0.0 1.0 base_tilt_link limelight_base_link" />

    <!-- Limelight center rotation component -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="limelight_base_to_limelight_link" args="0.0 0.0 0.0  0.0000  -0.1822  0.0000  0.9833 limelight_base_link limelight_link" />

    <!-- Enable these two TFs if imu_joint is disabled -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_footprint" args="0.0 0.0 0.0  0 0 0 1 base_link base_tilt_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tilt_to_armature_link" args="0.0 0.0 0.0  0.0000  -0.1175  0.0000  0.9931 camera_tilt_link camera_armature_link" />
</launch>
