<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_match" output="screen" 
       args="record -o /media/storage/bags/2022_robot
        /camera/accel/imu_info
        /camera/accel/metadata
        /camera/accel/sample
        /camera/color/camera_info
        /camera/color/metadata
        /camera/color/image_raw
        /camera/depth/camera_info
        /camera/depth/metadata
        /camera/depth/image_rect_raw
        /camera/gyro/imu_info
        /camera/gyro/metadata
        /camera/gyro/sample
        /amcl_pose
        /initialpose
        /sinistra_laser/scan
        /dextra_laser/scan
        /limelight/targets
        /map
        /map_metadata
        /tf
        /tf_static
        /tj2/left_outer_climber_joint
        /tj2/left_inner_climber_joint
        /tj2/right_outer_climber_joint
        /tj2/right_inner_climber_joint
        /tj2/left_outer_climber_hook_joint
        /tj2/left_inner_climber_hook_joint
        /tj2/right_outer_climber_hook_joint
        /tj2/right_inner_climber_hook_joint
        /tj2/intake_joint
        /tj2/turret_joint
        /tj2/camera_joint
        /tj2/cmd_vel
        /tj2/cmd_vel_follow
        /tj2/cmd_vel_nav
        /tj2/cmd_vel_teleop
        /tj2/follow_object_goal
        /tj2/imu
        /tj2/is_autonomous
        /tj2/match_time
        /tj2/odom
        /tj2/ping
        /tj2/detections
        /tj2/cargo/markers
        /tj2/team_color

        --duration=180 --lz4
        " />
</launch>
