<launch>
    <arg name="ffmpeg_command" value="/usr/bin/ffmpeg -y -f rawvideo -vcodec rawvideo -s :width:x:height: -pix_fmt rgb24 -r :fps: -i - -maxrate 20M -bufsize 5000k -vb 20M  -vcodec mpeg4 -flush_packets 1 :path:"/>
    <node name="tj2_video" pkg="tj2_video" type="tj2_video_node" required="true" output="screen">
        <param name="video_width" value="672" />
        <param name="video_height" value="372" />
        <param name="video_fps" value="15" />
        <param name="autostart" value="true" />
        <param name="output_path" value="%Y-%m-%dT%H-%M-%S.avi" />
        <param name="ffmpeg_command" value="$(arg ffmpeg_command)" />
        <remap from="image" to="/tj2_zed/depth/depth_registered"/>
        <!-- <remap from="image" to="/tj2_zed/rgb/image_rect_color"/> -->
    </node>
</launch>
