<launch>
    <arg name="global_frame" default="map"/>
    <arg name="robot_frame" default="base_link"/>
    <arg name="footprint_param" default="/move_base/local_costmap/footprint"/>
    <arg name="classes_path" default="$(find tj2_yolo)/models/powercell_2021.names"/>
    <arg name="enable_camera" default="false"/>
    <node pkg="tj2_webapp" type="tj2_webapp_node.py" respawn="true" name="tj2_webapp" output="screen">
        <param name="global_frame" value="$(arg global_frame)"/>
        <param name="robot_frame" value="$(arg robot_frame)"/>
        <param name="footprint_param" value="$(arg footprint_param)"/>
        <param name="class_names_path" value="$(arg classes_path)"/>
        <param name="enable_camera" value="$(arg enable_camera)"/>

        <param name="robot_arrow_length_meters" value="1.0"/>
        <param name="waypoint_arrow_length_meters" value="0.5"/>
        <param name="detection_radius_meters" value="0.3"/>
        <param name="map_scale" value="1.25"/>
        <param name="post_scale" value="1.0"/>

        <remap from="labels" to="/tj2/labels"/>
    </node>
</launch>
